.App {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

.raffleH3 {
    margin-bottom: 0;
}

.profileIcon {
    height: 100px;
    width: 100px;
    margin: 10px;
    align-self: center;
}

.participantList {
    margin-top: -15px;
}

.participantCard {
    display: flex;
    border: 1px solid #ccc;
    padding: 1px;
    margin: 5px;
}

.winnerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.searchBarContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.container h5 {
    margin-top: 0;
    margin-bottom: 5px;
}

.container p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
}

h1 {
    text-align: center;
}

.winner-details {
    margin: 0;
    padding: 5px 0;
}

.winner-details h4,
.winner-details p {
    margin-bottom: -5px;
}

.winner-details p {
    font-size: 14px;
}

.winnerCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px; 
    margin: 20px auto 0;
}